Untuk cleansing data atau manipulasi data dengan menggunakan python dan bantuan jupyter notebook bisa dengan menggunakan Python library yang namanya panda. kalau belum install panda, bisa install dulu dengan menggunakan command

```
pip instal panda
```
bahkan kalau belum ada pip, install dulu si python sama pipnya, bisa diliat di google aja caranya gimana soalnya panjang

In [3]:
# import si library panda
import pandas as pd

# baca filenya dulu baru kita tampung dalam sebuah variabel agar bisa dimanipulasi
file_path = './vending_machine_sales.csv'
df_vending_machine_sales = pd.read_csv(file_path)

df_vending_machine_sales.columns

Index(['Status', 'Device ID', 'Location', 'Machine', 'Product', 'Category',
       'Transaction', 'TransDate', 'Type', 'RCoil', 'RPrice', 'RQty', 'MCoil',
       'MPrice', 'MQty', 'LineTotal', 'TransTotal', 'Prcd Date'],
      dtype='object')

1. Sales Overview Analysis
- Total Sales
- Total Transactions
- Average Transactions Value
- Total Product Sold (Berapa jumlah yang terjual)

In [4]:
df_vending_machine_sales.head(4)

,Status,Device ID,Location,Machine,Product,Category,Transaction,TransDate,Type,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal,Prcd Date
0,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14515778905,1/1/2022,Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022
1,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516018629,1/1/2022,Credit,148,3.5,1,148,3.5,1,3.5,5.0,1/1/2022
2,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516018629,1/1/2022,Credit,123,1.5,1,123,1.5,1,1.5,5.0,1/1/2022
3,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516020373,1/1/2022,Credit,123,1.5,1,123,1.5,1,1.5,1.5,1/1/2022

In [6]:
total_sales = df_vending_machine_sales['LineTotal'].sum()
total_transactions = df_vending_machine_sales['Transaction'].nunique()
average_transactions_value = df_vending_machine_sales['LineTotal'].mean()
total_product_sold = df_vending_machine_sales['RQty'].sum()

sales_overview_analysis_data = {
  'total_sales': total_sales,
  'total_transactions': total_transactions,
  'average_transactions_value': average_transactions_value,
  'total_product_sold': total_product_sold
}

sales_overview_analysis_data

{'total_sales': 19094.75,
 'total_transactions': 9116,
 'average_transactions_value': 1.9855204325673288,
 'total_product_sold': 9759}

kalau mau save data yang udah dianalisis tadi dalam bentuk json, kita bisa aja langsung bikin file jsonnya, lalu copy paste si data atau kita bisa bikin filenya pake script python.

In [9]:
output_file_path = './vending_machine_sales.json'
df_vending_machine_sales.to_json(output_file_path)

print(f'Data sales overview analysis telah disimpan di {output_file_path}')

Data sales overview analysis telah disimpan di ./vending_machine_sales.json